<div class="container-fluid container-center">
    <h3 class="bg-warning text-center">@ViewBag.InfoMessage</h3>
    <a class="btn btn-warning horizontal-center" href="@ViewBag.SourceLink">Обратно</a>
</div>